<style>
  @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;900&display=swap');
  </style>

<nav class="navbar navbar-expand-lg navbar-light bg-light title bg-img justify-content-center">
  
  <a class="navbar-brand" href="#" style="font-size: 75px;color: white; justify-content: center;" >MARIO'S MECHANIC SHOP</a>
  <div class="navbar-nav ms-auto" id="navbarText">
    <span class="nav navbar-nav navbar-right" style="padding-right: 200px; color: white;">
      CALL US TODAY!<br>+1 (540) 327-4044
    </span>
  </div>
</nav>

<!-- <div class="d-flex justify-content-center">
  <img src="assets/AnuncioOil.jpg" height="500px">
</div> -->

<div class="container-fluid text-center reveal" id="section">
  <div class="row">
    <div class="col" style="margin-top: 75px;">
      <h1 id="titulo" class="titulo">Mecánica General</h1>
      <p class="contenido"></p>
      <!-- <a href="#/"><button type="button"
          class="btn btn-outline-primary">CONÉCTATE</button></a> -->
    </div>
    <div class="col" style="margin-top: 50px;">
      <a href="#"><img src="assets/tuerca.png" width="200"
          height="200" style="border-radius: 100px;padding: 25px;"></a>
    </div>
  </div>
</div>

<div class="container-fluid text-center reveal" id="section">
  <div class="row">
    <div class="col" style="margin-top: 75px;">
      <h1 id="titulo" class="titulo">Frenos y suspensión</h1>
    </div>
    <div class="col" style="margin-top: 50px;">
      <a href="#"><img src="assets/frenos.png" width="200" height="200"
          style="border-radius: 100px;padding: 25px;" alt=""></a>
    </div>
  </div>
</div>

<div class="container-fluid text-center reveal" id="section1">
  <div class="row">
    <div class="col" style="margin-top: 75px;">
      <h1 id="titulo" class="titulo">Enderezado y pintura</h1>
    </div>
    <div class="col" style="margin-top: 50px;">
      <a href="#"><img src="assets/enderezado.jpg" width="200" height="200"
          style="border-radius: 100px;padding: 25px;"></a>
    </div>
  </div>
</div>

<div class="container-fluid text-center reveal" id="section2">
  <div class="row">
    <div class="col" style="margin-top: 75px;">
      <h1 id="titulo" class="titulo">Cambio de cadena</h1>
    </div>
    <div class="col" style="margin-top: 50px;">
      <a href="#"><img src="assets/cadena.jpg" id="ima" width="200"
          height="200" style="border-radius: 100px;padding: 25px;"></a>
    </div>
  </div>
</div>

<div class="container-fluid text-center reveal" id="section2">
  <div class="row">
    <div class="col" style="margin-top: 75px;">
      <h1 id="titulo" class="titulo">Cambio de aceite</h1>
      <!-- <p class="contenido">El ministerio Mujeres Llenas de Gracia nació en el corazón de Dios. <br />Está basado en Tito
        2:3-5.</p> -->
    </div>
    <div class="col" style="margin-top: 50px;">
      <a href="#"><img src="assets/aceite.jpg" id="ima" width="200"
          height="200" style="border-radius: 100px;padding: 25px;"></a>
    </div>
  </div>
</div>

<div class="container-fluid text-center reveal" id="section2">
  <div class="row">
    <div class="col" style="margin-top: 75px;">
      <h1 id="titulo" class="titulo">Cambio de transmisión</h1>
      <!-- <p class="contenido">El ministerio Mujeres Llenas de Gracia nació en el corazón de Dios. <br />Está basado en Tito
        2:3-5.</p> -->
    </div>
    <div class="col" style="margin-top: 50px;">
      <a href="#"><img src="assets/transmision.png" id="ima" width="200"
          height="200" style="border-radius: 100px;padding: 25px;"></a>
    </div>
  </div>
</div>

<div class="container-fluid text-center reveal" id="section2">
  <div class="row">
    <div class="col" style="margin-top: 75px;">
      <h1 id="titulo" class="titulo">Tune Up</h1>
      <!-- <p class="contenido">El ministerio Mujeres Llenas de Gracia nació en el corazón de Dios. <br />Está basado en Tito
        2:3-5.</p> -->
      <!-- <a href="#"><button type="button"
          class="btn btn-outline-primary">VISÍTANOS</button> </a> -->
    </div>
    <div class="col" style="margin-top: 50px;">
      <a href="#"><img src="assets/tuneup.jpg" id="ima" width="200"
          height="200" style="border-radius: 100px;padding: 25px;"></a>
    </div>
  </div>
</div>

<div class="container-fluid text-center" style="padding: 50px;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1546.9809213278522!2d-78.1593333!3d39.1528495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b5eee0ffe5eb87%3A0x568efedbb17574be!2s419%20Front%20Royal%20Pike%2C%20Winchester%2C%20VA%2022602%2C%20EE.%20UU.!5e0!3m2!1ses!2sgt!4v1674600238324!5m2!1ses!2sgt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

